<%= @movie.title %> <br>
<%= @movie.overview %> <br>
<%= @movie.rating %> <br>
<%= image_tag @movie.poster_url, alt: "poster", width: 200 %>
<br>


<%= link_to "go back to all the movies", movies_path %> <br>

<%# <%= simple_form_for [@movie, @list] do |f| %>
      <%#     <%= f.association :list, collection: List.all.order(:name), prompt: 'Select a list', input_html: { class: 'select2' } %>
      <%#     <%= f.button :submit %>
    <%#   </div>
exit
